.estimationdiv
{
    margin:3% -3% 0% -3%;
}
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.font-custom
{
    margin-top: 7%;
    text-align: center;
}
.modal-dialog{
    overflow-y: initial !important;
    max-width: fit-content;
}
.modal-content
{
  
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}